/* Vencord */
.sidebar-nqHbhN:has(.socialLinks-3ywLUf)
	.side-1lrxIh
	.item-2GWPIy:nth-child(30)::before {
	-webkit-mask: var(--settingsicons-bd-settings) center/contain no-repeat !important;
}

/* Plugins */
.sidebar-nqHbhN:has(.socialLinks-3ywLUf)
	.side-1lrxIh
	.item-2GWPIy:nth-child(31)::before {
	-webkit-mask: var(--settingsicons-bd-plugins) center/contain no-repeat !important;
}

/* Themes */
.sidebar-nqHbhN:has(.socialLinks-3ywLUf)
	.side-1lrxIh
	.item-2GWPIy:nth-child(32)::before {
	-webkit-mask: var(--settingsicons-bd-themes) center/contain no-repeat !important;
}

/* Updater */
.sidebar-nqHbhN:has(.socialLinks-3ywLUf)
	.side-1lrxIh
	.item-2GWPIy:nth-child(33)::before {
	-webkit-mask: var(--settingsicons-bd-changelog) center/contain no-repeat !important;
}

/* Cloud */
.sidebar-nqHbhN:has(.socialLinks-3ywLUf)
	.side-1lrxIh
	.item-2GWPIy:nth-child(34)::before {
	-webkit-mask: var(--settingsicons-connections) center/contain no-repeat !important;
}

/* Backup & Restore */
.sidebar-nqHbhN:has(.socialLinks-3ywLUf)
	.side-1lrxIh
	.item-2GWPIy:nth-child(35)::before {
	-webkit-mask: var(--settingsicons-advanced) center/contain no-repeat !important;
}

/* Desktop Settings */
.sidebar-nqHbhN:has(.socialLinks-3ywLUf)
	.side-1lrxIh
	.item-2GWPIy:nth-child(36)::before {
	-webkit-mask: var(--settingsicons-sessions) center/contain no-repeat !important;
}

/* Activity Privacy */
.sidebar-nqHbhN:has(.socialLinks-3ywLUf)
	.side-1lrxIh
	.item-2GWPIy:nth-child(39)::before {
	-webkit-mask: var(--settingsicons-activityprivacy) center/contain no-repeat !important;
}

/* What's New */
.sidebar-nqHbhN:has(.socialLinks-3ywLUf)
	.side-1lrxIh
	.item-2GWPIy:nth-child(41)::before {
	-webkit-mask: var(--settingsicons-changelog) center/contain no-repeat !important;
}

/* HypeSquad */
.sidebar-nqHbhN:has(.socialLinks-3ywLUf)
	.side-1lrxIh
	.item-2GWPIy:nth-child(42)::before {
	-webkit-mask: var(--settingsicons-hypesquad) center/contain no-repeat !important;
}
