/* Vencord */
[data-tab-id='VencordSettings']::before {
	-webkit-mask: var(--settingsicons-bd-settings) center/contain no-repeat !important;
}

/* Plugins */
[data-tab-id='VencordPlugins']::before {
	-webkit-mask: var(--settingsicons-bd-plugins) center/contain no-repeat !important;
}

/* Themes */
[data-tab-id='VencordThemes']::before {
	-webkit-mask: var(--settingsicons-bd-themes) center/contain no-repeat !important;
}

/* Updater */
[data-tab-id='VencordUpdater']::before {
	-webkit-mask: var(--settingsicons-bd-changelog) center/contain no-repeat !important;
}

/* Cloud */
[data-tab-id='VencordCloud']::before {
	-webkit-mask: var(--settingsicons-connections) center/contain no-repeat !important;
}

/* Backup & Restore */
[data-tab-id='VencordSettingsSync']::before {
	-webkit-mask: var(--settingsicons-advanced) center/contain no-repeat !important;
}

/* Patch Helper */
[data-tab-id='VencordPatchHelper']::before {
	-webkit-mask: var(--settingsicons-developer) center/contain no-repeat !important;
}

/* Vesktop Settings */
[data-tab-id='Vesktop']::before {
	-webkit-mask: var(--settingsicons-sessions) center/contain no-repeat !important;
}

/* Activity Privacy */
[data-tab-id='Activity Privacy']::before {
	-webkit-mask: var(--settingsicons-activityprivacy) center/contain no-repeat !important;
}

/* What's New */
[data-tab-id='changelog']::before {
	-webkit-mask: var(--settingsicons-changelog) center/contain no-repeat !important;
}

/* HypeSquad */
[data-tab-id='Hypesquad Online']::before {
	-webkit-mask: var(--settingsicons-hypesquad) center/contain no-repeat !important;
}

/* Experiments */
[data-tab-id='Experiments']::before {
	-webkit-mask: var(--settingsicons-experiments) center/contain no-repeat !important;
}

/* Developer Options */
[data-tab-id='Developer Options']::before {
	-webkit-mask: var(--settingsicons-developer) center/contain no-repeat !important;
}

/* Hotspot Options */
[data-tab-id='Hotspot Options']::before {
	-webkit-mask: var(--settingsicons-hotspots) center/contain no-repeat !important;
}

/* Dismissable Contents */
[data-tab-id='Dismissible Content Options']::before {
	-webkit-mask: var(--settingsicons-dismissable) center/contain no-repeat !important;
}

/* Payment Flow Modals */
[data-tab-id='Payment Flow Modals']::before {
	-webkit-mask: var(--settingsicons-paymentmodals) center/contain no-repeat !important;
}

/* Text Playground */
[data-tab-id='Text Playground']::before {
	-webkit-mask: var(--settingsicons-textplayground) center/contain no-repeat !important;
}

/* Text Components */
[data-tab-id='Text Component']::before {
	-webkit-mask: var(--settingsicons-textcomponent) center/contain no-repeat !important;
}
